{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
   <table class="table table-striped">
        <thead>
            <tr>
                <th class ="text start">symbol</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">total</th>

            </tr>
        </thead>
        <tbody>
            {% for y in data %}
            <tr>

                <td class="text-start">{{y.symbol}}</td>
                <td class="text-end">{{y.quantity}}</td>
                <td class="text-end">{{y.price}}</td>
                <td class="text-end">{{y.total_value}}</td>
            </tr>

           {% endfor %}

        </tbody>
        <tfoot>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="3">Cash</td>
                <td class="border-0 text-end">${{cash}}</td>
            </tr>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="3">TOTAL</td>
                <td class="border-0 w-bold text-end">${{total + cash}}</td>
            </tr>
        </tfoot>

    </table>
{% endblock %}
